main {
  min-height: 85vh;
  background-color: #f7f7f7;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating {
  min-height: 42px;
}

.header-searchbox {
  max-height: 45px;
}

.card-image {
  min-height: 226.66px;
}
.rating span {
  margin: 0.1rem;
}

.price-row {
  min-height: 48px;
}

.datebutton {
  margin-top: 1.5rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #332d33;
}

.carousel img {
  height: 500px;
  padding: 30px;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}

.like-button {
  min-height: 32px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10rem;
  background-color: transparent;
  border: transparent;
}

.like-button :hover {
  color: red;
}

.fallback {
  background-color: aliceblue;
  width: fit-content;
}

.fallback-h1 {
  color: red;
}

.fallback-home {
  color: green;
}

.first-nav {
  margin-left: 1em;
}

.sample {
  z-index: 1200;
}

@media only screen and (max-width: 600px) {
  .image-test {
    height: 200px !important;
    margin-top: 20px !important;
  }
  .carousel-caption {
    display: none;
    /* position: absolute;
    top: -62px !important; */
  }
}

/* 
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
} */

@media (min-width: 1200px) {
  .container {
    min-width: 50vw;
    max-width: 1600px;
  }
}
